{% extends 'BSAdminBundle::layout.html.twig' %}
{% set route = 'admin_page' %}
{% set word_roditelniy = 'страницы' %}
{% set word_predl = 'страницу' %}
{% block page_titile %}
    {% if operationType == 'edit' %}
        Изменение записи
    {% else %}
        Создание записи
    {% endif %}
    
{% endblock %}

{% block page_breadcrumb %}
    {#
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>
        <a href="{{path('')}}">Админка</a>
    </li>
    <li class="active">
        <i class="fa fa-file"></i> Blank Page
    </li> 
</ol>
    #}
{% endblock %}

{% block page_content -%}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form', 'data-toggle':'validator' } }) }}
        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">Название</label>

            <div class="col-md-10">
                {{ form_widget(form.caption, { 
                    'attr': {
                            'class': 'form-control input-caption-for-meta '~operationType,
                            'placeholder': 'Название '~word_roditelniy,
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.caption) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">meta-title</label>

            <div class="col-md-10">
                {{ form_widget(form.metaTitle, { 
                    'attr': {
                            'class': 'form-control input-meta meta-title '~operationType,
                            'placeholder': 'meta-title',
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.metaTitle) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">meta-description</label>

            <div class="col-md-10">
                {{ form_widget(form.metaDescription, { 
                    'attr': {
                            'class': 'form-control input-meta meta-description '~operationType,
                            'placeholder': 'meta-description',
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.metaDescription) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">meta-keywords</label>

            <div class="col-md-10">
                {{ form_widget(form.metaKeywords, { 
                    'attr': {
                            'class': 'form-control input-meta meta-keywords '~operationType,
                            'placeholder': 'meta-keywords',
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.metaKeywords) }}
                </div>
            </div>
        </div>


        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">Ссылка</label>

            <div class="col-md-10">
                {{ form_widget(form.slug, { 
                    'attr': {
                            'class': 'form-control',
                            'placeholder': 'Ссылка на '~word_predl,
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения. Допустимы символы 0-9, A-z, /, -, .',
                            'pattern': '^([0-9a-zA-Zа-яА-Я\/\-.]*)$'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.slug) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Содержание</label>

            <div class="col-md-10">
                {{ form_widget(form.content, { 
                    'attr': {
                            'class': 'form-control tinymce',
                            'placeholder': 'Содержание '~word_roditelniy,
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>

        {# <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Разделы</label>

            <div class="col-md-10">
                {{ form_widget(form.paths, { 'attr': {'class': 'form-control validate-paths col-md-12', 'placeholder': 'Разделы'} }) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.paths) }}
                </div>
            </div>
        </div> #}

        {# <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Фото</label>

            <div class="col-md-10">
                {{ form_widget(form.photo, { 'attr': {'class': 'form-control fileinput-single col-md-12'} }) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.photo) }}
                </div>
            </div>
        </div> #}

        <div class="form-group">
            <label for="input_price" class="col-md-2 control-label">Публикация</label>

            <div class="col-md-10">
                {{ form_widget(form.published, { 'attr': {'class': 'form-control checkbox'} }) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.published) }}
                </div>
            </div>
        </div>

{#
        <div class="form-group">
            <label for="input_price" class="col-md-2 control-label">Рекомендованная</label>

            <div class="col-md-10">
                {{ form_widget(form.recommended, { 'attr': {'class': 'form-control checkbox'} }) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.recommended) }}
                </div>
            </div>
        </div>
#}

         <div class="clearfix"></div>
         <div class="row pull-left">
         	<a href="{{ path(route) }}" class="btn btn-link">Назад</a>
         </div>
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" name='list' class='btn btn-success' rel='list'
                       value="Сохранить и вернуться на список"/>
                <input type="submit" name='create' class='btn btn-success' rel='create'
                       value="Сохранить и создать еще"/>
                <input type="submit" name='edit' class='btn btn-success' rel='edit'
                       value="Сохранить и редактировать"/>
            </div>
        </div>
    </div>
    {{ form_end(form) }}       
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock javascripts %}