{% extends '::base.html.twig' %}
    {% set pRes = "bundles/bsfront" %}
    {% set pCom = "bower/components" %}
    {% block title %}
        Студия артистического фехтования "Волчий глаз"
    {% endblock %}

{% block css %}
    {% stylesheets
    'bower/components/bootstrap/dist/css/bootstrap.min.css'
    'bower/components/bootstrap/dist/css/bootstrap-theme.min.css'
    'bower/components/wow/css/libs/animate.css'
    'bower/components/font-awesome/css/font-awesome.min.css'
    'bower/components/lightbox2/css/lightbox.css'
    'bundles/bsfront/css/css.css'
    'bundles/bsfront/lightGallery-master/light-gallery/css/lightGallery.css'
    'bundles/bsfront/css/custom.css'

    filter='cssrewrite' output='compiled/css/all.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}



{% block js %}
    {% javascripts
    'bundles/bsfront/js/jquery.min.js'
    'bundles/bsfront/js/jquery-ui-1.11.2.custom/jquery-ui.min.js'
    'bower/components/jquery.migrate/jquery-migrate-1.2.1.min.js'
    'bower/components/bootstrap/dist/js/bootstrap.min.js'
    'bower/components/jquery-backstretch/jquery.backstretch.min.js'
    'bundles/bsfront/js/detectmobilebrowser.js'
    'bower/components/lightbox2/js/lightbox.min.js'
    'bower/components/wow/dist/wow.min.js'
    'bundles/bsfront/js/jquery.bxslider-rahisified.js'
    'bundles/bsfront/lightGallery-master/light-gallery/js/lightGallery.min.js'
    'bundles/bsfront/js/recliner.min.js'
    'bundles/bsfront/js/func.js'
    'bundles/bsfront/js/init-func.js'
    'bundles/bsfront/js/js.js'


    output='compiled/js/all.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock js %}
    {% block body %}
        <div class="background-image-overlay"></div>
        <div id="outer-background-container" data-default-background-img="{{ asset("bundles/bsfront/images/bg/bg4.jpg") }}"
             style="background-image:url("{{ asset("bundles/bsfront/images/bg/bg1.jpg") }}")";>
        </div>


        {#CP#}

        <!-- Outer Container -->
        <div id="outer-container">

            <!-- Left Sidebar -->
            <section id="left-sidebar">

                <div class="logo">
                    <a href="#bs-block-index" class="link-scroll">
                        <img src="{{ asset("bundles/bsfront/images/logo.png") }}" class="img-responsive logo-image"
                             alt="Студия артистического фехтования «Волчий глаз»"/>
                        <img src="{{ asset("bundles/bsfront/images/logo-color.png") }}" class="img-responsive logo-image color"
                             style="opacity: 0; margin-top: -141px;"
                             alt="Студия артистического фехтования «Волчий глаз»"/>
                    </a>
                </div>
                <!-- .logo -->

                <!-- Menu Icon for smaller viewports -->
                <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();">
                    <span class="glyphicon glyphicon-th">
                    </span>
                </div>

                {% include 'BSFrontBundle::Common/navbar.html.twig' %}
                <!-- #main-menu -->

            </section>
            <!-- #left-sidebar -->
            <!-- end: Left Sidebar -->

            <section id="main-content" class="clearfix" style='display:none;'>
                {% block content %}
                {% endblock content %}
            </section>
            <!-- #main-content -->

            <!-- Footer -->
            <section id="footer">

                <!-- Go to Top -->
                <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span>
                </div>

                <ul class="social-icons">
                    <li><a href="//vk.com/wolfeneye" target="_blank" title="Vkontakte Волчий глаз"><img src=" {{ asset("bundles/bsfront/images/icons/icon-vk.png") }}" alt="Vkontakte Волчий глаз"></a></li>
                </ul>

                <!-- copyright text -->
                {# <div class="footer-text-line">&copy; {{ "now"|date("Y") }} Brainstrap</div> #}
            </section>
            <!-- end: Footer -->

        </div><!-- #outer-container -->
        <!-- end: Outer Container -->

        <!-- Modal -->
        <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
        <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                    </div>
                    <!-- .modal-body -->
                </div>
                <!-- .modal-content -->
            </div>
            <!-- .modal-dialog -->
        </div><!-- .modal -->

        {#/CP#}

    {% endblock %}