{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<div class="container">

    <form role="form"
        action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
        class="form-signin"
        id="form-register">
        <div class="form-horizontal fos_user_registration_register">
            <div class="form-group">
                <label for="input_email" class="col-sm-2 control-label">Логин</label>
                <div class="col-sm-10">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control validate-username input_username'} }) }}
                    <div class="inputErrors">
                        {{ form_errors(form.username) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input_email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control validate-email input_email'} }) }}
                    <div class="inputErrors">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input_password" class="col-sm-2 control-label">Пароль</label>
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control validate-password input_password'} }) }}
                    <div class="inputErrors">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="input_re-password" class="col-sm-2 control-label">Повтори</label>
                <div class="col-sm-10">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control validate-password input_re-password'} }) }}
                    <div class="inputErrors">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    {{ form_widget(form._token) }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div id="register-buttons">
                <button type="submit" class="btn btn-orange">Регистрация</button>
            </div>
        </div>
    </form>
</div>
{% endblock fos_user_content %}