{% import _self as forms %}
<div class="grid-wrapper">
    {% if grids is defined and grids|length > 0 %}
        <!-- grid -->


        {% for entity in grids %}
            <div class="grid-item col-md-4">
                <div class="item-content clearfix">
                    {% if entity.photoGallery|length %}
                        <div class="grid-slider bxslider">
                            {% for photo in entity.photoGallery %}
                                <div onclick="populate_and_open_modal(event, 'modal-uid-{{ entity.id }}-{{entity.getEntityType}}');">
                                    <img src="{{ asset('uploads/gallery/'~photo) }}" alt="{{ entity.caption }}"
                                         class="img-responsive lazy"/>
                                </div>
                            {% endfor %}
                        </div>
                    {# {% else %}
                        {% include 'BSFrontBundle::Common/randomImage.html.twig' with {} %} #}
                    {% endif %}

                    <div class="text-content text-center">
                        {% autoescape true %}
                        <h5 onclick="populate_and_open_modal(event, 'modal-uid-{{ entity.id }}-{{entity.getEntityType}}');" style="cursor:pointer">
                            {{ entity.caption|truncate(100) }}
                        </h5>
                        <p class="descriptionForGrid">
                            {% if entity.smallContent %}
                                {{ entity.smallContent|default('Краткое описание')|truncate(250) }}
                            {% else %}
                                {{ entity.content|striptags|truncate(250) }}
                            {% endif %}
                        </p>

                        <p>
                            <a href=""
                               onclick="populate_and_open_modal(event, 'modal-uid-{{ entity.id }}-{{entity.getEntityType}}');"
                               class="btn btn-outline-inverse btn-sm">
                                Подробнее...
                            </a>
                        </p>

                        <div class="content-to-populate-in-modal" id="modal-uid-{{ entity.id }}-{{entity.getEntityType}}">
                            {% include 'BSFrontBundle::Common/modal-populate.html.twig' with {
                                entity:entity,
                            } %}
                        </div>

                        {% endautoescape %}
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}
        {% include 'BSFrontBundle::Common/alert.html.twig' with {
        alertType:'normal',
        alertMsg:'В этом разделе еще нет ни одной записи'
        } %}

    {% endif %}
</div>