<div class="clearfix"></div>
<div class="modal-populate">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            {{ entity.caption }}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    Ololo
                    {{entity.content|raw}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <ul class="lightGalleryBlockInModal">
                    {# {% for key, gallery in entity.gallery %} #}
                    {% for i in 0..10 %}
                    <li
                        {# data-sub-html="<div class='customHtml'><h4>{{ video.caption }}</h4><p>{{ video.description|striptags|truncate(150) }}</p></div>" #}
                        {# data-src="{{ video.smallHref }}" #}
                        data-sub-html="<div class='customHtml'><h4>OLk</h4><p>asdasdassa</p></div>"
                        data-src='http://www.youtube.com/embed/YE7VzlLtp-4'
                        class="lightGallery"
                        >
                        <img src="{{ asset(pRes~'/images/icons/video.png') }}" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>