<div class="clearfix"></div>
<div class="modal-populate">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            {{ entity.caption }}
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    Ololo
                    {{entity.content|raw}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <ul class="lightGalleryBlockInModal">
                    {% if entity.gallery is defined and entity.gallery|length > 0 %}
                        {% for key, photo in entity.gallery %}
                            {% if photo.photo.path is defined %}
                                <li
                                    data-sub-html="<div class='customHtml'><h4>{{ photo.caption }}</h4><p>{{ photo.caption }}</p></div>"
                                    data-src="{{ asset(photo.photo.path)|imagine_filter('full_size_photo_in_window') }}"
                                    class="lightGallery"
                                    >
                                    <img src="{{ asset(photo.photo.path)|imagine_filter('prev_on_page_item_slider') }}" />
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if entity.videoGallery is defined and entity.videoGallery|length > 0 %}]
                        {% for key, video in entity.videoGallery %}
                        <li
                            data-sub-html="<div class='customHtml'><h4>{{ video.caption }}</h4><p>{{ video.description|striptags|truncate(150) }}</p></div>"
                            data-src="{{ video.ref }}"
                            class="lightGallery"
                            >
                            <img src="{{ asset(pRes~'/images/icons/video.png')|imagine_filter('prev_on_page_item_slider') }}" />
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>