{% extends 'BSAdminBundle::layout.html.twig' %}
{% set route = 'admin_feedback' %}
{% set word_roditelniy = 'обратная связь' %}
{% set word_predl = 'обратной связи' %}
{% block page_titile %}
    Просмотр записи    
{% endblock %}

{% block page_breadcrumb %}
    {#
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>
        <a href="{{path('')}}">Админка</a>
    </li>
    <li class="active">
        <i class="fa fa-file"></i> Blank Page
    </li> 
</ol>
    #}
{% endblock %}

{% block page_content -%}
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">Имя</label>

            <div class="col-md-10">
                {{ entity.name }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Телефон</label>

            <div class="col-md-10">
                {{ entity.phone }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>

            <div class="col-md-10">
                {{ entity.email }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Сообщение</label>

            <div class="col-md-10">
                {{ entity.content }}
            </div>
        </div>

         <div class="clearfix"></div>
         <div class="row pull-left">
         	<a href="{{ path(route) }}" class="btn btn-link">Назад</a>
         </div>
    </div>    
{% endblock %}