{% extends 'BSAdminBundle::layout.html.twig' %}
{% set route = 'admin_blog' %}
{% set word_roditelniy = 'записей в блоге' %}
{% set word_predl = 'запись' %}
{% block page_titile %}
    {% if operationType == 'edit' %}
        Изменение записи
    {% else %}
        Создание записи
    {% endif %}
    
{% endblock %}
{% macro collectionItem_actionPhoto(data) %}
    <li class="form-group">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="thumbnail adminGalleryBlockItem">
                    <div class="form-group">
                        <label for="input_caption" class="col-md-2 control-label">Заголовок</label>

                        <div class="col-md-10">
                            {{ form_widget(data.caption, { 'attr': {'class': 'form-control validate-caption', 'id': 'input_caption', 'placeholder': 'Заголовок'} }) }}
                            <div class="inputErrors">
                                {{ form_errors(data.caption) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_caption" class="col-md-2 control-label">Изображение</label>

                        <div class="col-md-10">
                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                {{ form_widget(data.photo, { 'attr': {'class': 'form-control validate-photo', 'id': 'input_photo', 'placeholder': 'Фото'} }) }}
                                <div class="inputErrors">
                                    {{ form_errors(data.photo) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endmacro %}
{% block page_breadcrumb %}
    {#
<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i>
        <a href="{{path('')}}">Админка</a>
    </li>
    <li class="active">
        <i class="fa fa-file"></i> Blank Page
    </li> 
</ol>
    #}
{% endblock %}

{% block page_content -%}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'role': 'form', 'data-toggle':'validator' } }) }}
        <div class="form-group">
            <label for="input_caption" class="col-md-2 control-label">Название</label>

            <div class="col-md-10">
                {{ form_widget(form.caption, { 
                    'attr': {
                            'class': 'form-control input-caption-for-meta '~operationType,
                            'placeholder': 'Название статьи',
                            'required':'required',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.caption) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Краткое содержание</label>

            <div class="col-md-10">
                {{ form_widget(form.smallContent, { 
                    'attr': {
                            'class': 'form-control',
                            'placeholder': 'Краткое содержание',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.smallContent) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Содержание</label>

            <div class="col-md-10">
                {{ form_widget(form.content, { 
                    'attr': {
                            'class': 'form-control',
                            'placeholder': 'Содержание',
                            'data-error':'Поле обязательно для заполнения'
                        } 
                    }) 
                }}
                <div class="help-block with-errors">
                    {{ form_errors(form.content) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="input_partition" class="col-md-2 control-label">Галерея</label>

            <div class="col-md-10">
                <ul class="list-unstyled" id="gallery-fields-list"
                    data-prototype="{{ _self.collectionItem_actionPhoto(form.gallery.vars.prototype)|e }}">
                    {% for gal in form.gallery %}
                        {{ _self.collectionItem_actionPhoto(gal) }}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="input_price" class="col-md-2 control-label">Публикация</label>

            <div class="col-md-10">
                {{ form_widget(form.published, { 'attr': {'class': 'form-control checkbox'} }) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.published) }}
                </div>
            </div>
        </div>

         <div class="clearfix"></div>
         <div class="row pull-left">
            <a href="{{ path(route) }}" class="btn btn-link">Назад</a>
         </div>
        <div class="row pull-right">
            <div class="col-md-12">
                <input type="submit" name='list' class='btn btn-success' rel='list'
                       value="Сохранить и вернуться на список"/>
                <input type="submit" name='create' class='btn btn-success' rel='create'
                       value="Сохранить и создать еще"/>
                <input type="submit" name='edit' class='btn btn-success' rel='edit'
                       value="Сохранить и редактировать"/>
            </div>
        </div>
    </div>
    {{ form_widget(form.gallery) }}
    {{ form_end(form) }}       
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            BS.Forms.Collection.init(['#gallery-fields-list']);
        });
    </script>

    {# {{ form_javascript(form) }} #}
{% endblock js %}