{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Payment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Fio</th>
                <td>{{ entity.fio }}</td>
            </tr>
            <tr>
                <th>Organization</th>
                <td>{{ entity.organization }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Summ</th>
                <td>{{ entity.summ }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Inn</th>
                <td>{{ entity.inn }}</td>
            </tr>
            <tr>
                <th>Bik</th>
                <td>{{ entity.bik }}</td>
            </tr>
            <tr>
                <th>Rs</th>
                <td>{{ entity.rs }}</td>
            </tr>
            <tr>
                <th>Ogrn</th>
                <td>{{ entity.ogrn }}</td>
            </tr>
            <tr>
                <th>Kpp</th>
                <td>{{ entity.kpp }}</td>
            </tr>
            <tr>
                <th>Basis</th>
                <td>{{ entity.basis }}</td>
            </tr>
            <tr>
                <th>Legaladdress</th>
                <td>{{ entity.legalAddress }}</td>
            </tr>
            <tr>
                <th>Mailaddress</th>
                <td>{{ entity.mailAddress }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deleted</th>
                <td>{{ entity.deleted }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('payment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('payment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
